@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
font-family:'Open Sans', sans-serif;
font-size:0.8em;
}
#top{
border-top: 8px solid #e84c89;
background-color:#5f5556;
color:#5f5556;
height:30px;
line-height:30px;
}
#top span.contact{
background-color:#e84c89;
display:block;
height:30px;
width:200px;
float:right;
text-align:center;
}
#nav{
background-color:#5f5556;
color:#fff;
height:70px;
}
#nav h1{
color:#fff;
font-size:40px;
line-height:40px;
padding:0 15px 15px;
margin:0;
}
footer#footer{
background-color:#5f5556;
color:#eee;
border-top: 8px solid #a6a2a3;
margin-top:20px;
padding:10px;
}
footer#footer a:link{
color:#e84c89;
}
footer#footer h4.subtitle{
color:#e84c89;
}
footer#footer strong{
color:#e84c89;
}
footer#footer div.footer-navi{
background-color:#e9e6dd;
padding:20px;
color:#5f5556;
}
img.banner{
margin-top:20px;
margin-bottom:20px;
}
.contact{color:#ffffff;}